<header>
  <nav class="navbar">
    <a class="navbar-brand">
      <img (click)="goToProfile()" width="160" alt="Meetup Logo" src="assets\logomeetup.svg"
           class="d-inline-block align-top " alt="">
    </a>

    <div *ngIf="showLogout" ngbDropdown class="d-inline-block navbar-right pr-5">
      <button class="btn btn-default" id="dropdownBasic" ngbDropdownToggle>Welcome, {{login()}} </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic" class="">
        <button class="dropdown-item" routerLink="/{{login()}}/profile">Profile</button>
        <button class="dropdown-item" routerLink="/{{login()}}/friends">Friends</button>
        <button class="dropdown-item" routerLink="/{{login()}}/folders">Folders</button>
        <button class="dropdown-item" routerLink="/{{login()}}/calendar">Calendar</button>
        <button class="dropdown-item" routerLink="/{{login()}}/wishes">Wish List</button>
        <button class="dropdown-item" (click)="logout()">Logout</button>
      </div>
    </div>

  </nav>
</header>

<router-outlet></router-outlet>
