body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header img {
  max-width: 100%;
  max-height: 100%;
}

header img:hover {
  cursor: pointer;
}

header {
  padding-top: 0px;
  padding-left: 10px;
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  height: 80px;
  margin-bottom: 15px;
}

header button {
  background-color: white;
  color: #0062cc;
}

header button:hover {
  background-color: #b3d7ff;
  color: #00244d;
}

.login-main {
  margin-top: 130px;
}

.login-main h4 {
  font-size: 1.5rem;
}

.login-main span {
  font-size: 1rem;
}

footer hr {
  margin-top: 0px;
  padding-top: 0px;
}

.footer-options ul {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.footer-options ul li {
  float: left;
  list-style: none;
  padding: 5px;
  font-size: 12px;
}

.footer-options ul li a {
  text-decoration: none;
  color: #000;
}

.copyrights {
  margin-top: 25px;
}

.dropdown-item:hover {
  cursor: pointer;
}
