<div class="container-fluid" style="margin-top:20px">
  <ngx-spinner bdOpacity = 0.9
               bdColor = "#333"
               size = "default"
               color = "#fff"
               type = "ball-beat"></ngx-spinner>
  <div class="row">
    <div class="col-2">
      <home-comp [states]="state"></home-comp>
    </div>


    <div class="col-10">
      <div class="container justify-content-center" *ngIf="eventt !== undefined">

        <br><br>
        <div class="row">

          <div class="col-md-4">
            <div class="thumbnail">
              <img src="{{eventt.imageFilepath}}" class="event-logo">
            </div>
          </div>

          <div class="col-md-4" >
            <ul class="list-group l-g" *ngIf="eventt.participants !== null && eventt.participants.length !== 0">
              <li class="list-group-item active">Participants</li>
              <div *ngFor="let participant of eventt.participants">
                <li class="list-group-item" (click)="goToProfile(participant.login)" style="cursor: pointer;">name: {{participant.login}}</li>
              </div>
            </ul>
            <br>
            <div *ngIf="eventt.ownerId === this.currentUserId && eventt.eventType === 'EVENT' &&eventt.isDraft===false">
              <button type="button" class="btn btn-primary" (click)="modal.show()"
                      data-toggle="modal">Add participant</button>
              <button type="button" class="btn btn-danger" (click)="deleteParticipantt.show()"
                      *ngIf="eventt.participants !== null && eventt.participants.length !== 0">
                Delete participant</button>
            </div>

          </div>

          <div class="col-md-2" *ngIf="eventt.ownerId === this.currentUserId">

            <div>

              <button type="button" class="btn btn-danger" (click)="deleteEventt.show()"
              >Delete Event</button>
            </div>

            <br>

            <div class="btn-group" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                      aria-controls="dropdown-basic">
                Covert to <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-basic">
                <li role="menuitem" *ngIf="eventt.eventType !== 'EVENT'" (click)="convertToPublic(); addDate.show()">
                  <a class="dropdown-item">Public event</a></li>
                <li role="menuitem" *ngIf="eventt.eventType !== 'PRIVATE_EVENT'" (click)="convertToPrivate(); addDate.show()">
                  <a class="dropdown-item">Private event</a></li>
                <li role="menuitem" *ngIf="eventt.eventType !== 'NOTE'" (click)="convertToNote(); addDate.show()">
                  <a class="dropdown-item">Note</a></li>
                <li role="menuitem" (click)="convertToDraft()">
                  <a class="dropdown-item">Draft enable/disable</a></li>
              </ul>
            </div>

            <br>
            <br>
          </div>



        </div>

        <br>

        <div class="row" *ngIf="eventt.eventType !== 'NOTE' && this.showCountdown()==true">
          <div class="col-md-8">
            <countdown class = "countdown" divider="&#160;" units="Year | Month | Days | Hours | Minutes | Seconds"
                       end={{eventt.eventDate}}></countdown>
          </div>
        </div>

        <br>

        <div class="row">

          <div class="col-md-8">

            <ul class="list-group">
              <li class="list-group-item active justify-content-between d-flex">
                <span>{{eventt.name}} {{eventt.eventType}}</span>
                <div *ngIf="eventt.ownerId === this.currentUserId" style="cursor: pointer;">
                  <img src="assets/edit.svg" (click)="editEvent()" height="30"
                       width="30"/>
                </div>
              </li>
              <li *ngIf="eventt.eventType !== 'NOTE'" class="list-group-item">Event Date: {{eventt.eventDate}}</li>
              <li *ngIf="eventt.eventType !== 'NOTE'" class="list-group-item">Periodicity: {{eventt.periodicity}}</li>
              <li class="list-group-item">Place: {{place}}</li>
              <li *ngIf="eventt.isDraft === true" class="list-group-item">Draft</li>
              <li *ngIf="eventt.description" class="list-group-item">Description:   {{eventt.description}}</li>
              <li *ngIf="eventt.ownerId !== 0" class="list-group-item"> Event owner:
                <a href="#/{{ownerLogin}}/profile">{{ownerLogin}}</a></li>
                   </ul>

            </div>
          </div>

        <br>

        <div class="row">
          <div class="col-md-8">
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
        </div>

      </div>
    </div>

    <div class="participant">
      <app-modal-window #modal>
        <div class="modal-header d-flex justify-content-between align-items-center">
          <h4 class="modal-title">Add participant</h4>
          <img class="close-btn" src="assets/close.svg" (click)="modal.hide()" alt="">
        </div>

        <div class="app-modal-body">
          <form name="form" role="form" #addParticipantForm="ngForm">
            <div class="form-group">
              <label for="name">Login:</label>
              <input class="form-control" id="name" [formControl]="addParticipantQueryField" placeholder="Enter participant login" name="name"  #name
                     [(ngModel)]="loginInput" required>
              <div *ngIf="addParticipantQueryField.value">
                <div style="margin-left: 10px" class="row">
                  <div *ngFor="let user of queryUsers">
                    <a style="color: white; cursor: pointer;" class="badge badge-pill badge-primary m-1" (click)="addParticipantQueryField.setValue(user.login); queryUsers = [];
modal.hide(); addParticipant(addParticipantQueryField.value); ">{{ user.login }}</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="app-modal-footer">
          <button class="btn btn-success" [disabled]="addParticipantForm.form.invalid"
                  (click)="modal.hide(); addParticipant(name)">Add</button>
        </div>
      </app-modal-window>
    </div>

    <div class="participant">
      <app-modal-window #addDate id="add-date">
        <div class="modal-header d-flex justify-content-between align-items-center">
          <h4 class="modal-title">Finish conversion</h4>

          <img class="close-btn" src="assets/close.svg" (click)="addDate.hide()" alt="">
        </div>

        <div class="app-modal-body">
          <p class="modal-body">Do you realy want to convert the event to {{this.tempTypeShow}}?</p>
          <form name="form" role="form" #addDateForm="ngForm">
            <div *ngIf = "shouldShow">
              <div class="form-group">
                <label class="form-control-label" for="eventDate">Choose the day of the event: </label>
                <input type="date" min="{{currentDate}}" class="form"
                       id="eventDate" name="eventDate" #eventDate="ngModel" [(ngModel)]="datee"
                       placeholder="{{currentDate}}" required>
              </div>

              <div class="form-group">
                <label class="form-control-label" for="eventDate">Choose the time of the event: </label>
                <input type="time" class="form"
                       id="eventTime" name="eventTime" #eventTime="ngModel" [(ngModel)]="time" required>
              </div>

            </div>
          </form>
        </div>

        <div class="app-modal-footer">
          <button class="btn btn-success" [disabled]="shouldShow && addDateForm.form.invalid"
                  (click)="addDate.hide();formatDate(); convertEvent()">Confirm</button>
          <button class="btn btn-default" [disabled]="shouldShow && addDateForm.form.invalid"
                  (click)="addDate.hide()">Cancel</button>
        </div>

      </app-modal-window>
    </div>

    <div class="participant">
      <app-modal-window #deleteEventt id="delete-event">
        <div class="modal-header d-flex justify-content-between align-items-center">
          <h4 class="modal-title">Delete event</h4>
          <img class="close-btn" src="assets/close.svg" (click)="deleteEventt.hide()" alt="">
        </div>

        <div class="app-modal-body">
          <p>Are you sure that you want to delete this event?</p>
        </div>

        <div class="app-modal-footer">
          <button class="btn btn-danger"
                  (click)="deleteEventt.hide();deleteEvent()">Delete</button>
          <button class="btn btn-default" (click)="deleteEventt.hide();">Cancel</button>
        </div>

      </app-modal-window>
    </div>

    <div class="participant">
      <app-modal-window #deleteParticipantt>
        <div class="modal-header d-flex justify-content-between align-items-center">
          <h4 class="modal-title">Delete participant</h4>
          <img class="close-btn" src="assets/close.svg" (click)="deleteParticipantt.hide()" alt="">
        </div>

        <div class="app-modal-body">
          <form name="form" role="form" #deleteParticipantForm="ngForm">
            <div class="form-group">
              <label for="login">Login:</label>
              <input class="form-control" id="login" placeholder="Enter participant login" name="login" #login [formControl]="deleteParticipantQueryField" [(ngModel)]="loginInput"
                     required>
              <div *ngIf="deleteParticipantQueryField.value">
                <div style="margin-left: 10px" class="row">
                  <div *ngFor="let login of queryDeleteParticipants">
                    <a style="color: white; cursor: pointer;" class="badge badge-pill badge-primary m-1" (click)="deleteParticipantQueryField.setValue(login); deleteParticipantt.hide(); deleteParticipant(login);">{{ login }}</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="app-modal-footer">
          <button class="btn btn-danger" [disabled]="deleteParticipantForm.form.invalid"
                  (click)="deleteParticipantt.hide(); deleteParticipant(login.value)">Delete</button>
        </div>
      </app-modal-window>
    </div>

  </div>
</div>
