<div class="container-fluid">
  <ngx-spinner bdOpacity=0.9
               bdColor="#333"
               size="default"
               color="#fff"
               type="ball-beat"></ngx-spinner>
  <div class="row">
    <div class="col-2">
      <home-comp [states]="state"></home-comp>
    </div>

    <div class="col-10 py-4">
      <h1 *ngIf="eventType === 'public'" class="mb-4">Your {{eventType}} events:</h1>
      <h1 *ngIf="eventType === 'private'" class="mb-4">Your {{eventType}} events:</h1>
      <h1 *ngIf="eventType === 'notes'" class="mb-4">Your {{eventType}}:</h1>
      <h1 *ngIf="eventType === 'drafts'" class="mb-4">Your {{eventType}}:</h1>
      <div class="row">

        <div class="col-md-4">
          <section *ngIf="eventType === 'public'">
            <input [formControl]="queryField" placeholder="Search for public events"
                   class="form-control mb-4" type="text"/>
            <ul *ngIf="queryField.value">
              <li *ngFor="let event of publicEvents" class="filter-select-list">
                <p (click)="openEvent(event)">{{event.name}}</p>
              </li>
            </ul>
          </section>

          <input *ngIf="config.filtering" placeholder="Filter all columns"
                 [ngTableFiltering]="config.filtering"
                 class="form-control"
                 (tableChanged)="onChangeTable(config)"/>
        </div>
      </div>
      <br>
      <ng-table [config]="config"
                (tableChanged)="onChangeTable(config)"
                (cellClicked)="onCellClick($event)"
                [rows]="rows" [columns]="columns"
                class="test">
      </ng-table>
      <pagination *ngIf="config.paging"
                  class="pagination-sm"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
      </pagination>
      <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
    </div>
  </div>
</div>
