<div class="list-group py-4" role="tablist">
  <div>
    <img *ngIf="!profile.imgPath"
         src="../../../assets/avatar-default.jpg"
         class="profile-logo">
    <img *ngIf="profile.imgPath" [src]="profile.imgPath" onError="this.src='assets/avatar-default.jpg'"
         class="profile-logo">
  </div>

  <a class="list-group-item list-group-item-action" [ngClass]="{'active': states === 'profile'}"
     href="#/{{profile.login}}/profile">Profile</a>
  <a class="list-group-item list-group-item-action" [ngClass]="{'active': states === 'friends'}"
     href="#/{{profile.login}}/friends/">Friends<span *ngIf="friendRequests>0" class="badge badge-pill badge-info">{{friendRequests}}</span></a>
  <a class="list-group-item list-group-item-action" [ngClass]="{'active': states === 'folders'}"
     href="#/{{profile.login}}/folders/">Folders</a>
  <a class="list-group-item list-group-item-action" [ngClass]="{'active': states === 'calendar'}"
     href="#/{{profile.login}}/calendar/">Calendar</a>
  <a class="list-group-item list-group-item-action" [ngClass]="{'active': states === 'wishes'}"
     href="#/{{profile.login}}/wishes/">Wish List</a>
  <a class="list-group-item list-group-item-action" (click)="logout()"
     routerLink="/login"> Log Out</a>
</div>
