<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Enter your current password</h1>

      <div class="alert alert-danger" *ngIf="error">
        <strong>  You entered wrong password!</strong>
      </div>

    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" #checkForm="ngForm" *ngIf="!success">

        <div class="form-group">
          <label class="form-control-label" for="oldPassword"> Password</label>
          <input type="password" class="form-control" id="oldPassword" name="oldPassword" #oldPasswordInput="ngModel"
                 placeholder="Enter your current password" [(ngModel)]="account.password" minlength=6 maxlength=50
                 pattern="^[_.@A-Za-z0-9-]*$" required>
          <div *ngIf="oldPasswordInput.dirty && oldPasswordInput.invalid">
            <small class="form-text text-danger" *ngIf="oldPasswordInput.errors.required">
              Your password is required.
            </small>
            <small class="form-text text-danger" *ngIf="oldPasswordInput.errors.minlength">
              Your password is required to be at least 6 characters.
            </small>
            <small class="form-text text-danger" *ngIf="oldPasswordInput.errors.maxlength">
              Your password cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <button type="button" (click)="checkPassword();" [disabled]="checkForm.form.invalid" class="btn btn-primary">
          Submit
        </button>
        <button *ngIf="loggedUser" type="button" class="btn btn-primary"  routerLink="/{{account.login}}/edit">
          Cancel
        </button>

      </form>
    </div>
  </div>
</div>
