<div class="container-fluid">
  <ngx-spinner bdOpacity=0.9
               bdColor="#333"
               size="default"
               color="#fff"
               type="ball-beat"></ngx-spinner>
  <div  *ngIf="profile" class="row">
    <div class="col-2">
      <home-comp [states]="state"></home-comp>
    </div>


    <div class="col-10 py-4" *ngIf="profile.login">
      <div align="center">
        <h3>{{profile.name}} {{profile.lastname}}</h3>
      </div>
      <div>
        <div class="user" *ngIf="!loggedUser">
          <div class="logo">
            <img *ngIf="!profile.imgPath"
                 src="../../../assets/avatar-default.jpg"
                 class="profile-logo">
            <img *ngIf="profile.imgPath" [src]="profile.imgPath" class="profile-logo">
          </div>
          <div>
            <div class="bt-1">
              <button type="button" class="btn btn-light border-success mt-1" routerLink="/{{profile.login}}/friends">
                Friends
                <span class="badge badge-pill badge-info">{{friendCount}}</span></button>
              <button routerLink="/{{profile.login}}/wishes/" type="button" class="btn btn-light border-success mt-1">
                Wish List
              </button>

              <button *ngIf="relation === 'Not Friends'" (click)="addFriend(profile.login)" type="button"
                      class="btn btn-info mt-1">Add friend
              </button>
              <button *ngIf="relation === 'Friends'" (click)="modal.show()" type="button" class="btn btn-danger mt-1">
                Delete
              </button>
              <button *ngIf="relation === 'Not Confirmed'" (click)="confirmFriend(profile.id)" type="button"
                      class="btn btn-success mt-1">Confirm
              </button>
              <button *ngIf="relation === 'Request sent'" disabled="true" type="button" class="btn btn-info mt-1">
                Request sent
              </button>
            </div>
          </div>
        </div>
        <div [ngClass]="{info1 : !loggedUser, info2 : loggedUser}">
          <table class="table">
            <tbody>
            <tr>
              <td>Username</td>
              <td>{{profile.login}}</td>
            </tr>
            <tr>
              <td>Birth day</td>
              <td>{{profile.birthDay}}</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>{{profile.phone}}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{profile.email}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="edit">
          <button *ngIf="loggedUser" type="button" class="btn btn-primary" routerLink="/{{profile.login}}/edit"
                  style="width: 57px">
            <img *ngIf="loggedUser" src="../../../assets/edit_white.png" height="40"
                 width="40"/>
          </button>
        </div>

        <br>
        <br>

        <div *ngIf="this.eventName && this.eventDate && this.showCountdown()==true">
          <hr>
          <div align="center">
            <h3>{{this.eventName}} in </h3>
          </div>
          <countdown class="countdown" divider='&#160;' units="Year | Month | Days | Hours | Minutes | Seconds"
                     end={{this.eventDate}}></countdown>
        </div>

        <app-modal-window #modal class="sure-window">
          <div class="modal-header d-flex justify-content-between align-items-center">
            <h4 class="modal-title">Delete friend</h4>
            <img class="close-btn" src="assets/close.svg" (click)="modal.hide()" alt="">
          </div>
          <div class="app-modal-body">
            <p>Are you sure that you want to remove from friends {{profile.login}} ?</p>
          </div>
          <div class="app-modal-footer">
            <button class="btn btn-danger" (click)="modal.hide(); deleteFriend(profile.id)">Delete</button>
            <button class="btn btn-default" (click)="modal.hide();">Cancel</button>
          </div>
        </app-modal-window>

      </div>
    </div>
  </div>
</div>
