<div class="container-fluid">
  <ngx-spinner bdOpacity=0.9
               bdColor="#333"
               size="default"
               color="#fff"
               type="ball-beat"></ngx-spinner>
  <div class="row">
    <div class="col-2">
      <home-comp [states]="state"></home-comp>
    </div>

    <div class="col-10 py-4">
      <div *ngIf="unconfirmedFriends.length>0">
        <div align="center">
          <h3>Friends Requests</h3>
          <hr>
        </div>
        <friend *ngFor="let unconfirmedFriend of unconfirmedFriends" [user]="unconfirmedFriend"
                [loggedUser]="loggedUser"></friend>
        <hr>
      </div>

      <div align="center">
        <h3>{{user}} friends list</h3>
        <hr>
      </div>

      <section>
        <div>
          <input [formControl]="queryField" type="text" id="keyword" placeholder="Search for users..." autofocus/>
        </div>
        <ul>
          <li *ngIf="queryField.value && unknownUsers.length===0"><p>There is no user with such login</p></li>
          <li *ngFor="let result of unknownUsers" class="filter-select-list">
            <div (click)="addFriend(result.login)">
              <img *ngIf="result.imgPath" class="search-img" [src]="result.imgPath">
              <img *ngIf="!result.imgPath" class="search-img" src="../../../assets/avatar-default.jpg">
              {{result.login}} ({{result.name}} {{result.lastname}})
            </div>
          </li>
        </ul>
        <div class="message mx-4">
          {{message}}
        </div>
      </section>
      <hr>
      <friend *ngFor="let friend of friends" [user]="friend" [confirmed]="true" [loggedUser]="loggedUser"></friend>
    </div>
  </div>
</div>
