<div class="container-fluid">
  <ngx-spinner bdOpacity=0.9
               bdColor="#333"
               size="default"
               color="#fff"
               type="ball-beat"></ngx-spinner>
  <div class="row">
    <div class="col-2">
      <home-comp [states]="state"></home-comp>
    </div>

    <div class="col-10">
      <div class="container justify-content-center">
        <div class="py-4 d-flex justify-content-between flex-wrap align-items-center">
          <h2>Folders:</h2>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <button type="button" class="btn btn-primary mr-2" (click)="modal.show()" data-toggle="modal">Add folder
            </button>
            <button type="button" (click)="modalexport.show()" class="btn btn-primary">
              Export events
            </button>
          </div>
        </div>

        <div class="folder d-flex flex-wrap">
          <div *ngFor="let folder of folders" class="card mb-4">
            <div class="head card-body">
              <img class="folder-icon" src="assets/folder-icon.svg" alt="Card image cap">
              <img *ngIf="folder.name!=='general'" (click)="delete.show()" class="close-btn"
                   src="assets/close-white.svg" alt="">
            </div>

            <app-modal-window #delete class="sure-window">
              <div class="modal-header d-flex justify-content-between align-items-center">
                <h4 class="modal-title">Delete folder</h4>
                <img class="close-btn" src="assets/close.svg" (click)="delete.hide()" alt="">
              </div>
              <div class="app-modal-body">
                <p>Are you really want to delete this folder?</p>
              </div>
              <div class="app-modal-footer">
                <button class="btn btn-primary" (click)="delete.hide(); deleteFolder(folder)" >Yes</button>
                <button class="btn btn-default" (click)="delete.hide();">Cancel</button>
              </div>
            </app-modal-window>

            <div class="card-body">
              <h5 class="card-title">{{folder.name}}</h5>
              <a routerLink="/{{profile.login}}/folders/{{folder.folderId}}" class="btn btn-primary">Open
                folder</a>
            </div>
          </div>
        </div>

        <div class="add-folder">
          <app-modal-window #modal>
            <div class="modal-header d-flex justify-content-between align-items-right">
              <h4 class="modal-title">Add folder</h4>
              <img class="close-btn" src="assets/close.svg" (click)="modal.hide()" alt="">
            </div>
            <div class="app-modal-body">
              <form>
                <div class="form-group">
                  <label for="name">Folder name:</label>
                  <input class="form-control" id="name" placeholder="Enter folder name" name="name" #name
                         [(ngModel)]="nameInput">
                </div>
                <button class="btn btn-default" (click)="modal.hide(); addFolder(name)">Add</button>
              </form>
            </div>
          </app-modal-window>
        </div>

        <div class="export-events">
          <app-modal-window #modalexport>
            <div class="modal-header d-flex justify-content-between align-items-right">
              <h4 class="modal-title">Export events</h4>
              <img class="close-btn" src="assets/close.svg" (click)="modalexport.hide()" alt="">
            </div>

            <div class="app-modal-body">
              <form role="form" #exportEventForm="ngForm">

                <div class="form-group">
                  <label class="form-control-label lbl" for="firstDate">Choose start date: </label>
                  <input type="date" min="{{currentDate}}" class="form"
                         id="firstDate" name="firstDate" #eventDate="ngModel" [(ngModel)]="startDate"
                         placeholder="{{currentDate}}" required>
                </div>

                <div class="form-group">
                  <label class="form-control-label lbl" for="endDate">Choose end date: </label>
                  <input type="date" min="{{currentDate}}" class="form"
                         id="endDate" name="endDate" #eventDate="ngModel" [(ngModel)]="endDate"
                         placeholder="{{currentDate}}" required>
                </div>

                <div *ngIf="endDate < startDate">
                  <small class="form-text text-danger">
                    End date must be bigger than start.
                  </small>
                </div>

                <label class="form-control-label lbl">Choose columns: </label>
                <div *ngFor="let obj of checkboxes">
                  <input type="checkbox" [checked]="obj.checked" (change)="obj.checked = !obj.checked">
                  <span>{{obj.columnName}}</span>
                </div>

              </form>
            </div>

            <div class="app-modal-footer">
                <input type="checkbox" [checked]="isSent" (change)="isSent = !isSent">
                <span>Send to email</span>
              <button class="btn btn-primary" [disabled]="!endDate"(click)="modalexport.hide(); downloadPlan()">Export to pdf</button>
            </div>
          </app-modal-window>
        </div>
      </div>
    </div>
  </div>

</div>
