<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <home-comp [states]="state"></home-comp>
    </div>

    <div class="col-10">
      <div class="container justify-content-center">
        <div class="py-4 d-flex justify-content-between flex-wrap align-items-center">
          <h2>Events:</h2>
          <button type="button" (click)="addEvent()" class="btn btn-primary">
            Add event
          </button>
        </div>

        <div class="d-flex events">

          <div class="col-md-3 p-2 main">

            <h3 class="mb-3">Public events</h3>

            <div class="card mb-4">
              <div class="head card-body">
                <img class="folder-icon" src="assets/event-public-icon.svg" alt="Card image cap">
              </div>
              <div class="card-body">
                <a href="javascript:void(0);"
                   (click)="openEventList('public')" class="btn btn-primary">Open public events</a>
              </div>
            </div>
          </div>


          <div class="col-md-3 p-2 main">

            <h3 class="mb-3">Private events</h3>

            <div class="card mb-4">
              <div class="head card-body">
                <img class="folder-icon" src="assets/event-private-icon.svg" alt="Card image cap">
              </div>
              <div class="card-body">
                <a href="javascript:void(0);"
                   (click)="openEventList('private')" class="btn btn-primary">Open private events</a>
              </div>
            </div>
          </div>


          <div class="col-md-3 p-2 main">

            <h3 class="mb-3">Notes</h3>

            <div class="card mb-4">
              <div class="head card-body">
                <img class="folder-icon" src="assets/event-notes-icon.svg" alt="Card image cap">
              </div>
              <div class="card-body">
                <a href="javascript:void(0);"
                   (click)="openEventList('notes')" class="btn btn-primary">Open notes</a>
              </div>
            </div>
          </div>


          <div class="col-md-3 p-2 main">

            <h3 class="mb-3">Drafts</h3>

            <div class="card mb-4">
              <div class="head card-body">
                <img class="folder-icon" src="assets/event-draft-icon.svg" alt="Card image cap">
              </div>
              <div class="card-body">
                <a href="javascript:void(0);"
                   (click)="openEventList('drafts')" class="btn btn-primary">Open drafts</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
